<mat-grid-list cols="10" rowHeight="80px">
    <mat-toolbar>
        <mat-grid-tile colspan="2">
            <a mat-stroked-button color="primary" routerLink="/dataset" routerLinkActive="active" ariaCurrentWhenActive="page">previous</a>
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
            <span style="font-size: 30px; font-weight: bold;" color="primary">Preprocessing</span> 
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <a mat-stroked-button color="primary" routerLink="/analysis" routerLinkActive="active" ariaCurrentWhenActive="page">next</a>
        </mat-grid-tile>
    </mat-toolbar>
</mat-grid-list>

<div style="padding: 10px;">
    <mat-form-field appearance="fill">
        <mat-label>Select preprocessing method</mat-label>
        <mat-select [(value)]="selectedPreprocessingMethodId">
            <mat-option *ngFor="let method of preprocessingMethods" [value]="method.id">
                {{method.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button style="margin: 10px;" mat-raised-button color="primary" (click)="runPreprocessing()">RUN</button>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
    <div style="height: 100%; width: 80%;">
        <ag-grid-angular
        style="width: 100%; height: 100%; align-content: center; text-align: center;" 
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
    </div>
</div>