<div>    
    <app-toolbar currentPageTitle="Preprocessing" previousLink="/dataset" nextLink="/analysis"></app-toolbar>
</div>

<div style="padding: 10px;">
    <mat-form-field appearance="fill">
        <mat-label>Select preprocessing method</mat-label>
        <mat-select [(value)]="selectedPreprocessingMethodId">
            <mat-option *ngFor="let method of preprocessingMethods" [value]="method.id">
                {{method.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button style="margin: 10px;" mat-raised-button color="accent" (click)="runPreprocessing()">RUN</button>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
    <div style="height: 100%; width: 80%;">
        <ag-grid-angular
        style="width: 100%; height: 100%; align-content: center; text-align: center;" 
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
    </div>
</div>