<div>    
    <app-toolbar currentPageTitle="Preprocessing" previousLink="/dataset" nextLink="/analysis"></app-toolbar>
</div>

<div style="padding: 10px;">
    <mat-form-field appearance="fill">
        <mat-label>Select preprocessing method</mat-label>
        <mat-select [(value)]="selectedPreprocessingMethodId">
            <mat-option *ngFor="let method of preprocessingMethods" [value]="method.id">
                {{method.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <button style="margin: 10px;" mat-raised-button color="accent" (click)="runPreprocessing()">RUN</button>
</div>

<!-- <div *ngIf="selectedPreprocessingMethodId == 'split dataset'">
        <mat-form-field appearance="fill">
            <mat-label>Split Variable</mat-label>
            <mat-select formControlName="split_variable">
            <mat-option *ngFor="let variable of variables" [value]="variable">{{variable.name}}</mat-option>
            </mat-select>
        </mat-form-field>
</div> -->


<mat-accordion multi>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Attribute selection</mat-panel-title>
			<mat-panel-description>
				Select attributes to be inlcuded in preprocessing
			</mat-panel-description>
		</mat-expansion-panel-header>
        <section>
            <div>Select independent variables </div>
            <br>
            <div>
                <mat-checkbox [checked]="allVariablesSelected" [indeterminate]="someSelected()"
                    (change)="setAll($event.checked)">
                    Select All
                </mat-checkbox>
                <ul>
                    <li *ngFor="let variable of variables">
                        <mat-checkbox [(ngModel)]="variable.selected" (ngModelChange)="updateAllSelected()">
                            {{variable.name}}
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
        </section>
	</mat-expansion-panel>
</mat-accordion>

<br>

<div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
    <div style="height: 100%; width: 80%;">
        <ag-grid-angular
        style="width: 100%; height: 100%; align-content: center; text-align: center;" 
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
    </div>
</div>