<div>
  <app-toolbar currentPageTitle="Spatial Analysis" previousLink="/preprocessing"
    nextLink="/machinelearning"></app-toolbar>
</div>
<div style="padding: 10px;">
  <button style="float: right;" mat-raised-button color="accent" (click)="runAnalysis()"
    [disabled]="mainForm.invalid">RUN</button>
</div>
<br>

<div style="padding: 10px;">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Select Details</mat-panel-title>
      <mat-panel-description>
        Select the area level and countries to be used in Getis-ord Gi* cluster mapping
      </mat-panel-description>

    </mat-expansion-panel-header>
    <form [formGroup]="mainForm">
      <div>
        <mat-form-field>
          <mat-label>Area Level</mat-label>
          <mat-select formControlName="area_level">
            <mat-option value="country">Country</mat-option>
            <mat-option value="state">State</mat-option>
            <mat-option value="counties">County</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Target Variable</mat-label>
          <mat-select formControlName="target_variable">
            <mat-option *ngFor="let variable of variables" [value]="variable">
              {{variable}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" type="number" step="1">
      </mat-form-field> -->

      <!-- <div>
        <button mat-stroked-button color="primary" (click)="addLocations()">Add Locations</button>
      </div> -->
      <br>
      <div *ngFor="let item of location_params.locations_list; let i = index">
        <mat-form-field>
          <mat-label>Location Selection</mat-label>
          <mat-select (selectionChange)="onParamsChange(i, $event)" [(value)]="location_params.locations_list[i].location_code">
            <mat-option value="AUS">Australia</mat-option>
            <mat-option value="AS">Asia</mat-option>
            <mat-option value="USA">United States</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <button mat-stroked-button color="warn" [id]="i" (click)="deleteCountries(i)">Remove</button> -->
      </div>
        <mat-checkbox formControlName="save_results">Save Hotspots</mat-checkbox>
    </form>
  </mat-expansion-panel>
</div>

<div *ngIf="results">
  <h2>Results:</h2>
  <div class="image-container">
    <div *ngFor="let result of results">
      <!-- <div style="text-align: center;">{{result.map + result.year}}</div> -->
      <img style="margin: 0px 20px; max-width: 550px;" src="data:image/png;base64,{{result}}" alt="Precision recall curve">
    </div>
  </div>
</div>

<!-- <div style="display: flex; justify-content: center; height: 100%; width: 100%;">
  <div id="viewDiv"></div>
</div> -->