<mat-grid-list cols="10" rowHeight="80px">
    <mat-toolbar>
        <mat-grid-tile colspan="2">
            <a mat-stroked-button color="primary" routerLink="/preprocessing" routerLinkActive="active" ariaCurrentWhenActive="page">previous</a>
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
            <span style="font-size: 30px; font-weight: bold;" color="primary">Machine Learning</span> 
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <a mat-stroked-button color="primary" routerLink="/results" routerLinkActive="active" ariaCurrentWhenActive="page">next</a>
        </mat-grid-tile>
    </mat-toolbar>
</mat-grid-list>

<div style="padding: 10px;">
    <mat-form-field appearance="fill">
        <mat-label>Select algorithm category</mat-label>
        <mat-select [(value)]="algorithmCategory" (selectionChange)="selectCategory()">
            <mat-option value="Classification">Classification</mat-option>
            <mat-option value="Regression">Regression</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px" *ngIf="algorithmCategory">
        <mat-label>Select {{algorithmCategory}} algorithm</mat-label>
        <mat-select [(value)]="selectedAlgorithmId">
            <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.id">
                {{algorithm.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button style="margin: 10px;" mat-raised-button color="primary" (click)="runAlgorithm()">RUN</button>
</div>

  
<section class="example-section">
    <span class="example-list-section">
        <mat-checkbox class="example-margin"
                        [checked]="allSelected"
                        [indeterminate]="someSelected()"
                        (change)="setAll($event.checked)">
            Select All
        </mat-checkbox>
    </span>
<span class="example-list-section">
    <ul>
    <li *ngFor="let attribute of attributes">
        <mat-checkbox [(ngModel)]="attribute.selected"
                        (ngModelChange)="updateAllSelected()">
            {{attribute.name}}
        </mat-checkbox>
    </li>
    </ul>
</span>
</section>

<p>Results:</p>
<div *ngIf="results">
    <h2>Coefficients:</h2>
    <ul>
      <li *ngFor="let coefficient of results.Coefficients">{{ coefficient }}</li>
    </ul>
    <p>Intercept: {{ results.Intercept }}</p>
    <p>Mean Absolute Error (MAE): {{ results.mae }}</p>
    <p>Mean Squared Error (MSE): {{ results.mse }}</p>
    <p>R2 Score: {{ results.r2_score }}</p>
</div>


