<div>    
    <app-toolbar currentPageTitle="Analysis" previousLink="/preprocessing" nextLink="/feature-selection"></app-toolbar>
</div>

<div style="padding: 10px;">
    <mat-form-field appearance="fill">
        <mat-label>Select analysis method</mat-label>
        <mat-select [(value)]="selectedAnalysisMethodId">
            <mat-option *ngFor="let method of analysisMethods" [value]="method.id">
                {{method.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button style="margin: 10px;" mat-raised-button color="accent" (click)="runAnalysis()">RUN</button>
</div>

<img [src]="imageSrc" alt="Image">