<div>
    <mat-grid-list cols="10" rowHeight="80px">
         <mat-toolbar>
             <mat-grid-tile colspan="2">
                 <a mat-stroked-button color="primary" routerLink="/preprocessing" routerLinkActive="active" ariaCurrentWhenActive="page">previous</a>
             </mat-grid-tile>
             <mat-grid-tile colspan="6">
                 <section style="font-size: 30px; font-weight: bold;" color="primary">Analysis</section> 
             </mat-grid-tile>
             <mat-grid-tile colspan="2">
                 <a mat-stroked-button color="primary" routerLink="/machine-learning" routerLinkActive="active" ariaCurrentWhenActive="page">next</a>
            </mat-grid-tile>
        </mat-toolbar>
    </mat-grid-list> 
</div>

<div style="padding: 10px;">
    <mat-form-field appearance="fill">
        <mat-label>Select analysis method</mat-label>
        <mat-select [(value)]="selectedAnalysisMethodId">
            <mat-option *ngFor="let method of analysisMethods" [value]="method.id">
                {{method.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button style="margin: 10px;" mat-raised-button color="primary" (click)="runAnalysis()">RUN</button>
</div>

<img [src]="imageSrc" alt="Image">