<div>    
    <app-toolbar currentPageTitle="Feature Selection" previousLink="/analysis" nextLink="/machine-learning"></app-toolbar>
</div>

<div style="padding: 10px;">
	<button mat-raised-button [matMenuTriggerFor]="algo">Attribute Selection Algorithms</button>
	<mat-menu #algo="matMenu">
		<button mat-menu-item [matMenuTriggerFor]="featureSelection">Feature Selection</button>
		<button mat-menu-item [matMenuTriggerFor]="pca">Principle Component Analysis</button>
	</mat-menu>
    <button style="margin: 10px;" mat-raised-button color="accent" (click)="runPreprocessing()">RUN</button>
    <mat-menu #featureSelection="matMenu">
		<button mat-menu-item (click)="onSelectAlgo('Feature Selection (select k best)', 'select_k_best')">Select Best Attributes</button>
		<button mat-menu-item (click)="onSelectAlgo('Feature Selection (perentile)', 'percentile')">Percentile</button>
	</mat-menu>
    <mat-menu #pca="matMenu">
        <button mat-menu-item (click)="onSelectAlgo('PCA (wrapper)', 'wrapper')">Wrapper</button>
		<button mat-menu-item (click)="onSelectAlgo('PCA (decomposition)', 'decomposition')">Decomposition</button>
	</mat-menu>

    <span style="padding: 10px;" *ngIf="selectedAlgoId">{{selectedAlgoName}}</span>
</div>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Algorithm specific parameters
        </mat-panel-title>
        <mat-panel-description>
            Set parameters of the selection algorithm
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div [ngSwitch]="selectedAlgoId">
        <app-select-k-best *ngSwitchCase="'select_k_best'" (valueChange)="onParamsChange($event)"></app-select-k-best> 
    </div>
</mat-expansion-panel>
<!-- <button style="margin: 10px;" mat-raised-button color="accent" routerLink="/machine-learning" routerLinkActive="active" (click)="saveSelectionData()">USE SELECTED FEATURES FOR MACHINE LEARNING</button> -->
<a mat-raised-button color="primary" routerLink="/machine-learning" routerLinkActive="active" (click)="saveSelectionData()"
ariaCurrentWhenActive="page">USE SELECTED FEATURES FOR MACHINE LEARNING</a>
<div style="position: relative; margin: auto; height:80vh; width:80vw; padding: 50px">
    <canvas id="canvas">{{ chart }}</canvas>
</div>
